<ion-view view-title="Job list">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-loop"
            ng-class="{'spin-animate': FindWatcher('loadConfirmedJobData').loading}"
            ng-click="doRefresh()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="job in confirmedJobList">
        <i class="icon ion-bookmark"></i>
        <span ng-bind="job.SiteName"></span>
        <br>
        <span ng-bind="job.JobDate | date"></span> -
        <span ng-bind="job.JobTime | time"></span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
