$button-text-color : #333;
$button-background: #eee;
$button-border : #aaa;

$heading-color : #2054CC;

$body-font: Verdana, Arial,System,sans-serif;
$body-font-color: #000;
$body-font-size: 12px;

$wnTableHeaderBorderStyle : 1px solid #ccc;
$wnTableRowBorderStyle : 1px solid #eee;
$wnTableCellPadding : 8px;
$wnTableHighlightRowColor : #eee;

$color-block-width: 5px;