@{
    ViewBag.Title = "ResetPasswordSuccess";
}

<div class="container">
    <h2>Password reset</h2>
    <hr />

    Your password has been reset successfully. Please click 
    @Html.ActionLink("here", "Index", null, new { }) to return to the user list
</div>
