<p>
    <a href="#/Create" class="btn btn-default">Create new</a>
</p>
<table class="table wn-table table-clickable">
    <thead>
        <tr>
            <th>
                Region
            </th>
            <th>
                BookID
            </th>
            <th>
                Site name
            </th>
            <th>
                Address
            </th>
            <th>
                Job Date
            </th>
            <th>
                Job Time
            </th>
            <th>
                Staff Required
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                
            </td>
            <td>
               
            </td>
            <td>
               
            </td>
            <td>
               
            </td>
            <td>
               
            </td>
            <td>
               
            </td>
            <td>
               
            </td>
            <td>
               
            </td>
            <td>
               
            </td>
            <td>
               
            </td>
            <td>
                <button class="btn btn-action btn-default">Edit</button>
                <button class="btn btn-action">Send message</button>
            </td>
        </tr>

    </tbody>

</table>