<p>
    <a href="#/staffCreate" class="btn btn-default">Create new</a>
</p>

<div class="well well-sm">
    <div class="form form-inline">
        <select class="form-control" ng-model="listFilter.JobCostCentre" ng-options="cc as cc for cc in jl.costCentreList">
            <option value="">All</option>
        </select>
        <button class="btn btn-default" ng-click="showStaff()">Show staff</button>

        
    </div>

</div>

<table class="table wn-table table-clickable">
    <thead>
        <tr>
            <th style="width:50px">

            </th>
            <th>
                Cost centre
            </th>
            <th>
                BookID
            </th>
            <th>
                Site name
            </th>
            <th>
                Address
            </th>
            <th>
                Job date
            </th>
            <th>
                Job time
            </th>
            <th>
                Staff required
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="job in jl.jobList" ng-class="{'selected':job.selected}">
            <td>
                <button class="btn" ng-class="job.selected?'btn-primary':'btn-default'" ng-click="job.selected=!job.selected"><i class="fa fa-check" ng-class="{'invisible':!job.selected}"></i></button>
            </td>
            <td ng-click="job.selected=!job.selected" ng-bind="job.JobCostCentre"></td>
            <td ng-click="job.selected=!job.selected" ng-bind="job.BookID"></td>
            <td ng-click="job.selected=!job.selected" ng-bind="job.SiteName"></td>
            <td ng-click="job.selected=!job.selected" ng-bind="job.SiteAddress"></td>
            <td ng-click="job.selected=!job.selected" ng-bind="job.JobDate | date"></td>
            <td ng-click="job.selected=!job.selected" ng-bind="job.JobTime | time"></td>
            <td ng-click="job.selected=!job.selected"><span class="badge" ng-bind="job.StaffRequired"></span></td>
            <td>
                <button class="btn btn-action btn-default">Edit</button>
                <button class="btn btn-action">Send message</button>
            </td>
        </tr>

    </tbody>

</table>