<h2 ng-bind="AppTitle">Staff Listing</h2>

<p>
    <a href="#/staffCreate" class="btn btn-default">Create new</a>
</p>

<div class="well well-sm">
    <div class="form form-inline">
        <select class="form-control" ng-model="listFilter.CostCentre" ng-options="cc as cc for cc in costCentreList">
            <option value="">All</option>
        </select>
        <a class="btn btn-default" href="#/{{listFilter.CostCentre}}">Show staff</a>

        
    </div>

</div>

<table class="table wn-table table-clickable">
    <thead>
        <tr>
            <th>
                Cost centre
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Mobile
            </th>
            <th>
                Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="staff in staffList" ng-click="editStaff(staff.StaffID)">
            <td ng-bind="staff.StaffCostCentre"></td>
            <td ng-bind="staff.FirstName+' '+staff.SurName"></td>
            <td ng-bind="staff.Email"></td>
            <td ng-bind="staff.Mobile"></td>
            <td>
                <i class="fa fa-check text-blue" ng-show="staff.Active"></i>
                <i class="fa fa-remove text-red" ng-show="!staff.Active"></i>
            </td>
            <td>
                <a class="btn btn-action btn-default"
                   href="#/edit/{{listFilter.CostCentre}}/{{staff.StaffID}}"
                   bs-tooltip title="View detail" data-animation="am-flip-x"><i class="fa fa-search"></i></a>
                <button class="btn btn-action" ng-click="sendMessage($event)" bs-tooltip title="Send email" data-animation="am-flip-x"><i class="fa fa-envelope"></i></button>
            </td>
        </tr>

    </tbody>

</table>