@model IEnumerable<Tna.SAllocatePlus.CommonShared.Dto.JobDto>

@{
    ViewBag.Title = "Job listing";
}

<div ng-app="jobApp">
    <h2 ng-bind="AppTitle">Job Listing</h2>

    <div ng-view></div>
</div>

@section scripts {

    <script>
        var resourceUrl = {

        }
    </script>

    <script src="~/AppJs/helpers/ajax-helper.js"></script>

    <script src="~/AppJs/jobApp.js"></script>
    <script src="~/AppJs/controllers/jobDetailCtrl.js"></script>
    <script src="~/AppJs/controllers/jobListCtrl.js"></script>
}