@{
    ViewBag.Title = "ResetPasswordSuccess";
}

<div class="container">
    <h2>Password reset</h2>
    <hr />

    <p>
        Your password has been reset successfully.<br />
        An email has been sent to you with the new password. Please click
        @Html.ActionLink("here", "Profile", null, new { }) to return to your profile.
    </p>
</div>