@{
    ViewBag.Title = "Checkout Success";
}

<h2>Checkout success</h2>

<p>
    Your cart is checkout successfully. Please browse our product here @Html.ActionLink("Product list", "Index","Cart") .
</p>