<?xml version="1.0"?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true" >
  
  <targets>
    <!-- Target for Non-exception logging-->
    <target name="logFileTrace"
                xsi:type="FilteringWrapper"
                condition="length('${exception}')=0">
      <target xsi:type="File" fileName="${basedir}/log/${shortdate}.log"
              layout="${longdate} | ${level:upperCase=true} : ${message}"></target>
    </target>

    <!-- Target for exception logging-->
    <target name="logFileException"
                xsi:type="FilteringWrapper"
                condition="length('${exception}')>0">
      <target xsi:type="File" fileName="${basedir}/log/${shortdate}.log"
              layout="${longdate} | ${level:upperCase=true} : ${message} ${newline} Exception: ${exception:format=ToString}"></target>
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="logFileTrace" minLevel="Trace" />
    <logger name="*" writeTo="logFileException" minLevel="Trace" />
  </rules>
</nlog>
